{% extends './structure.html' %}
{% block titulo %}
Editar Producto
{% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-3">Editar Producto</h3>
                <form action="{{url_for('actualizarProducto')}}" method="post">
                    {# Enviar el id en un campo oculto #}
                    <input type="hidden" name="id" value="{{producto[0]}}">
                    <label for="nombre">Nombre:</label>
                    <input value="{{producto[1]}}" required type="text" class="form-control" placeholder="Nombre" name="nombre"
                        id="nombre">
                    <label for="precio">Precio</label>
                    <input value="{{producto[2]}}" required type="number" class="form-control" placeholder="Precio"
                        name="precio" id="precio">
                    <label for="precio">Stock</label>
                    <input value="{{producto[3]}}" required type="number" class="form-control" placeholder="Stock"
                        name="stock" id="stock">
                    <label for="nombre">Categoria:</label>
                    <input value="{{producto[4]}}" required type="text" class="form-control" placeholder="Categoria" name="categoria"
                        id="categoria">
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{{url_for('producto')}}" class="btn btn-primary">Volver</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}